In [3]:
# use pandas readcsv function to read the csv file

import importlib
utility = importlib.import_module("utility")
import numpy as np
import os
import sys
env,load,bert_embeddings,clustering,wikifier,cluster_neighbour,concept_embeddings_n_relevance,train_help_func = utility.load_modules()

In [14]:
path ="./Datasets/dbpedia_csv/train.csv"

columnNames = ['label','skip','text']

df = pd.read_csv(path,names = columnNames)

df.drop(columns=['skip'],inplace=True)

In [16]:
df.describe()

               label
count  560000.000000
mean        7.500000
std         4.031132
min         1.000000
25%         4.000000
50%         7.500000
75%        11.000000
max        14.000000

In [17]:
x = pd.read_csv('./Datasets/agnews/train.csv')

In [18]:
x.head()

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."